/* mystyle.css */


* {box-sizing:  flex;
    
}



body{
     margin: 0px;
     padding: 0px;
     height:480px; 
     padding-top:80px; 
     
}


/*  create three equal columns that sits next to each other */

.column{ flex: 33.33%;
     padding: 0px;
}


.row {display: flex;
}


        
     
 h1{ color: rebeccapurple; 
     font-size: 40px; 
     font-weight: 700; 
     font-style: italic ;
     line-height: normal; 
     line-break: auto;
     padding: 20px;
}
.tabcontent{ 
     margin: 0%;
     position: absolute; 
     color:rebeccapurple;
     font-size: 30px; 
     font-weight: bolder; 
     font-style:  italic;
     line-height: normal; 
     padding:10px 10px 10px 10px;
     justify-content: space-evenly;
     text-align: center;
     word-spacing: normal;
     font-family: cursive;
     background-size: cover; 
     background-color:  #ffe6ff;
     background-image: url("../image/StockSnap_CKDVQPAIBQ.jpg");
     Background-repeat:no repeat;
     background-attachment: fixed;
     background-blend-mode:screen; 
     background-size: cover; 
     background-blend-mode:screen;


}

.image1{
     padding: 0;
     float: inline-end;
     height: auto;
     width: 400px;
     margin:0px;
     display:block;
     position: relative;

} 


.Portfolio{

     position: absolute;
     top:40%;
     right:40%;
     text-decoration: underline;
     text-align: center;
     justify-content: space-evenly;
     font-weight: 200px;
     font-size: 60px;
      padding:10px 10px;
      transform:translate(-50%);
      
}


.name
{
     position: absolute;
     top: 60%;
     left: 40%;
     font-weight: 150px;
     font-size: 30px;
     justify-content: space-evenly; 
     text-decoration: underline;
     transform:translate(-50%);
}

.tabcontent1{margin: 0%;
     color:rebeccapurple;
     font-size: 20px; 
     font-weight: bolder; 
     font-style:  oblique;
     line-height: normal; 
     padding:10px 10px 10px 10px;
     justify-content: space-evenly;
     text-align: justify;
     text-align-last: auto;
     word-spacing: normal;
     font-family: cursive; 
     background-color: #ffe6ff;
     background-size: cover; 
     background-image: url("../image/StockSnap_CKDVQPAIBQ.jpg");
     Background-repeat:no repeat;
     background-attachment: fixed;
     background-blend-mode:screen; 
     background-size: cover; 
     background-blend-mode:screen;
}



.tabcontent2 {

     margin: 0%;
     color:rebeccapurple;
     font-size: 20px; 
     font-weight: bolder; 
     font-style:  oblique;
     line-height: normal; 
     padding:10px 10px 10px 10px;
     justify-content: space-evenly;
     text-align: justify;
     text-align-last: auto;
     word-spacing: normal;
     font-family: cursive; 
     background-color: #ffe6ff;
     background-size: cover; 
     background-image: url("../image/StockSnap_CKDVQPAIBQ.jpg");
     Background-repeat:no repeat;
     background-attachment: fixed;
     background-blend-mode:screen; 
     background-size: cover; 
     background-blend-mode:screen;

    
}
    
     .para2{ text-align: justify;
          padding:10px;
          Font-weight: 100px;
          font-family:cursive;
          word-spacing: normal;
          

     }


     h2{ color: rebeccapurple;
          font-size: 26px; 
          font-weight: 700; 
          font-style: italic ;
          line-height: normal; 
          line-break: auto;
          padding: 16px;
         
     }
     

     /* style tabcontent3 and the headers and place image relative to text */


.tabcontent3{

     margin: 0%;
     box-sizing: border-box;
     color: rebeccapurple;
     font-size: 20px; 
     font-weight: bolder; 
     font-style:  oblique;
     line-height: normal; 
     padding:10px 10px 10px 10px;
     justify-content: space-evenly;
     text-align:justify;
     word-spacing: normal;
     font-family:cursive;
     background-color: #ffe6ff;
     background-size: cover; 
     background-image: url("../image/StockSnap_CKDVQPAIBQ.jpg");
     Background-repeat:no repeat;
     background-attachment: fixed;
     background-blend-mode:screen; 
     background-size: cover; 
     background-blend-mode:screen;
}


h3{
     color:rebeccapurple;
     font-size: 26px; 
     font-weight: 700; 
     font-style: italic ;
     text-align: center;
     line-height: normal; 
     line-break: auto;
     padding: 20px;}
    
.image2 { padding: 0;
          float:right;
          height:400px;
          width: 400px;
          margin:0px;
          display:block;
     }


/* styling the tabs and spacing it out  */

.tab {
     overflow: hidden;
     border: none;
     background-color: rgba(233, 204, 233, 0.993);
     display: flex;
     align-items: flex-end;
     

    }
    /* Tab buttons style */

    .tab button {
     background-color:rgb(161, 6, 123);
     opacity: 1;
     border: none;
     outline: none; 
     cursor: pointer;
     padding:14px 16px; 
     margin: 0%;
     transition: 0.3s;
     font-size: medium; 
     font-weight: bold; 
     font: italic small-caps bold 20px/2 cursive;
     width: 33.33%;
}
     
/* hover over tab colour changes */

     .tab button:hover {
          
        background-color: rgba(128, 128, 128, 0.603);
     }

       

     footer {
          text-align: center;
          padding: 10px;
          background-color:rgb(235, 219, 231);
          color: white;
          justify-content: space-evenly;
     }
          .para3{
               Font: size 30px;
               color:white;
               text-align: center;
               font-weight: 20px;
          }

     .fa {
          padding: 10px;
          font-size: 40px;
          width: 30px;
          text-align: center;
          text-decoration: none;
          margin:0;
          border-radius: 50%;
          
        }
        
        .fa:hover {
            opacity: 0.7;
        }
     
          
        .fa-linkedin {
          background: #007bb5;
          color: white;
        }
        
        .fa-twitter {
          background: #55ACEE;
          color: white;
        }
        
        .fa-youtube {
          background: #bb0000;
          color: white;
        }
        
        .fa-instagram {
          background: #125688;
          color: white;
        }
     